.wrapper {
    height: var(--default-layout-header-height);
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
}

.inner {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 16px;
}

.clear,
.loading,
.search-btn,
.form-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: left;

    a {
        display: flex;
        align-items: center;
    }
}

.search {
    position: relative;
    width: 500px;
    min-width: 200px;
    max-width: 500px;
    height: 46px;
    flex: 1;

    > div[data-tippy-root] {
        width: 100%;
    }
}

.form-search {
    flex-direction: row;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 1px solid #fff;

    &:hover,
    &:focus-within {
        border: 1px solid #cacacc;
    }

    &:hover .search-btn {
        background: rgba(22, 24, 35, 0.06);
        color: rgba(22, 24, 35);
    }
}

.input-search {
    font-weight: 400;
    font-size: 16px;
    font-family: "TikTokFont", "san-serif";
    line-height: 21px;
    padding: 12px 0px 12px 16px;
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    color: rgba(22, 24, 35);
    caret-color: rgb(254, 44, 85);
}

input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35);
}

.clear {
    margin: 0 12px;
    border: none;
    color: var(--search-icon-color);
    font-size: 16px;
}
.loading {
    margin: 0 12px;
    border: none;
    color: var(--search-icon-color);
    font-size: 16px;

    svg {
        animation: loading 1s linear infinite;
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.span-Spliter {
    width: 1px;
    height: 28px;
    background-color: #4c4e57;
}

.search-btn {
    width: 56px;
    height: 45px;
    padding: 12px 16px 12px 10px;
    color: var(--search-icon-color);
    border: none;
    position: relative;
}

.header-right-container {
    width: 283px;
}
